
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito', sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.navbar__s1 img{
    width: 300px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.navbar__s2 {  
   display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.navbar__s2 :hover{
    color: #A435F0;
}
.navbar__s3{
    background-color: #A435F0;
    color: black;
    padding: 10px;
    border: solid #A435F0 1px;
    border-radius: 30px;
    cursor: pointer;
    
}
.navbar__s3:hover{
   background-color: white;
    color: black;
    transition: 1s;
}
.navbar__s4{
    padding: 30px;
    align-items: center;
    cursor: pointer;
}
.navbar__s4__title{
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    cursor: pointer;
}
.navbar__s4__des{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.navbar__s4__des :hover{
    color: #A435F0;

}

.navbar__s5__title{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 55%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}
.navbar__s5__title input{
    border: none;
    font-size: 16px;
    width: 80%;
    align-items: center;
    background-color: transparent;
    align-items: center;
}
.navbar__s5__title input:focus{
    outline: none;
    width: 40%;
}
.navbar__s5
    {
    justify-content: center;
    display: flex;
}
.navbar__s5 h4{
    border-radius: 30px;
background-color:#A435F0 ;
color: black;
border: solid #A435F0 1px;
padding: 10px;
cursor: pointer;
}
.navbar__s5__title h4:hover{
    background-color:white;
    color: black;
    transition: 1s;
}


.class-1 img{
width: 100%;
}
.class-1{
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: blueviolet;
 position: relative;
}
.class-2{
 width: 450px;
 height: 350px;
 font-size: larger;
 position: relative;
 position: absolute;
 top: 100px;
 left: 100px;
}
.class-2__one{
    font-weight: bold;
}
.class-2__two{
    font-weight: bold;
    font-size: 51px;
    position: relative;
}
.class-2__three{
    font-weight: bold;
    font-size: 51px;
    position: relative;
    top: 0px;
}
.class-2__four{
    font-weight: bold;
    font-size: 22px;
    width: 420px;
    margin-top: 10px;
    margin-bottom: 50px;
}.class-2__five{
    border: solid black 1px;
    display: inline;
    border-radius: 30px;
    padding: 15px;
}
.class-2__five{
    padding-bottom: 13px;
padding-left: 30px;
padding-right: 23px;
font-weight: bold;
background-color: black;
color: white;
position: absolute;
box-shadow: rgba(0, 0, 0, 0.17);
transition: 2s;
}
.class-2__five:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
    transition: 1s;
}
.trip{
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.winning{
    margin-top: 80px;
}
.trip-1{
    position: relative;
    padding-top: 40px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
.trip-1__one{
    flex-basis: 20px;
    flex-grow: 1;
    margin: 10px;
cursor: pointer;
}
.trip-1__one :hover{
transform: scale(1.05);
}
.trip-1__one img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.one1{
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.two2{
font-size: 25px;
color: white;
font-weight: bold;
position: absolute;
bottom: 30px;
left: 325px;
}
.three3{
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 560px;
}
.four4{
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 850px;
}

/*tour*/

.tour{
margin-left: 10%;
margin-right: 10%;
}
.tour-1__one p img{
    width: 20px;
}
.tour-1{
    padding-top: 40px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
}
.tour-1__one{
    flex-basis: 20%;
    flex-grow: 1;
    margin: 10px;
    cursor: pointer;
}
.tour-1__one img:hover{
    transform: scale(1.05);
}
.tour-1__one img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.holiday-image{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    font-size: 20px;
}
.holiday{
    margin-top: 80px;
}

.holiday-image-1{
     gap: 1px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
   display:inline-block ;
   align-items: center;
   text-align: center;
}
.holiday-image-1 :hover{
    transform: scale(1.05);
}
.holiday-image-1__one{
    flex-basis: 20%;
    flex-grow: 1;
    margin: 10px;
    display: flex;
}
.holiday-image-1 img{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    display:flex;
    
    
}
.one-1{
    font-size: 30px;
color: white;
font-weight: bold;
position: absolute;
top: 260px;
left: 70px;
display: flex;
}
.two-2{
    font-size: 30px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 260px;
    left: 70px
}
.three-3{
    font-size: 30px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 260px;
    left: 70px;
}
.four-4{
    font-size: 30px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 260px;
    left: 70px;
}
/*explorer*/

.explorer-box-1{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}
.explorer-box-1 img{
    width: 1100px;
    height: 600px;
    border-radius: 20px;
    border: solid black 1px;
}
.explorer-box-2__two{
    font-weight: bold;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 450px;
    left: 50px;
}
.explorer-box-2__three{
    border: solid black 1px;
    display: inline;
    border-radius: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 23px;
    padding-right: 23px;
    font-weight: bold;
    background-color: rgb(240,237,237);
    color: rgb(4,4,4);
    position: absolute;
    top: 520px;
    left: 50px;
    box-shadow: rgba(0, 0, 0, 0.17);
    transition: 2s;
}
.explorer-box-2__three:hover{
    cursor: pointer;
    background-color: #dad3fc;
    color: black;
    transition: 1s;
}
 /*about*/
 
 .about{
    margin-top: 100px;
    background-color: #faf1ed;
    color: black;
    border-radius: 15px;
    border: solid #faf1ed 1px;
 }
.about-one,.about-5{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.about-1 p,
.about-2 p,
.about-3 p,
.about-4 p{
    margin: 5px;
    gap: 20px;
}
.about-5{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.about-6{
    display: flex;
    gap: 25px;
    font-size: large;
}

.about p:hover{
    cursor: pointer;
    color:green;
    gap: 10px;
}
.about-1{
    margin: 5px;
    gap: 20px;
}
.about-2{
    margin: 5px;
    gap: 20px;
}



/* media queries */

    
@media screen  and (max-width:800px) {
    body{
        font-size: 10px;
    }
    .class-1{
        margin-right: 0%;
        margin-left: 0%;
    }
    .class-2 p{
        font-size:10px ;
        
    }
    .class-2{
        font-size:larger;
        top: 50px;
        left: 10px;
    }
    .class-2__five{
        font-size: 10px;
        top: 70px;
        left: 0;
    }

    .trip-1 {
        margin-left: 0;
        margin-right: 0;
    }
    .trip-1__one p{
        font-size: 10px;
        margin-left: 0;
        margin-right: 0;
    
    }
    .one1{
        left: 20px;
    }
    .two2{
        left: 170px;
    }
    .three3{
        left: 290px;
    }
    .four4{
        left: 440px;
    }
    .trip-1__one img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }


        /*explorer*/  
    .explorer-box-1 img{
        
       width:400px ;
       height: 300px;
       top: 20%;
       left: 0;
        
    }
    .explorer-box-2__two{
        font-size: 10px;
        top: 70%;
        left: 10%;
    }
    .explorer-box-2__three {
        font-size: 10px;
        top: 80%;
        left: 10%;
    }
}



@media screen  and (max-width:600px) {
    body{
        font-size: 10px;
    }

    .class-1{
        margin-right: 0%;
        margin-left: 0%;
    }
    .class-2 p{
        font-size:10px ;
    
        
    }
    .class-2{
        font-size: larger;
        top: 50px;
        left:10px;
    }
        .class-2__five{
       font-size: 10px;
       top: 70px;
       left: 0;
        }

.trip-1 {
        margin-left: 0;
        margin-right: 0;
        
    }
    .trip-1__one p{
        font-size: 5px;
        margin-left: 0;
        margin-right: 0;
        
    
    }
    .one1{
        left: 20px;
    }
    .two2{
        left: 110px;
    }
    .three3{
        left: 200px;
    }
    .four4{
        left: 300px;
    }
    .trip-1__one img{
        width: 100%;
        height: 100%;
      border-radius: 10px;
    }
    
    .explorer-box-1 img{
        
       width: 400px ;
       height: 300px;
       top: 20%;
       left: 0;
        
    }
    .explorer-box-2__two{
        font-size: 10px;
        top: 70%;
        left: 10%;
    }
    .explorer-box-2__three {
        font-size: 10px;
        top: 80%;
        left: 10%;
    }
    
}
